@{
    ViewBag.Title = "About";
}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>BookShop</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Helvetica:400,300" type="text/css" />

</head>
<p class="fig">
    <img src="~/img/hero1.jpg"
         width="1263" height="320" alt="Фотография">

</p>

<style>

    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>

<div class="center">
    <nav>
        <ul class="top-menu">
            <li><a href="~/Home/Index">ГЛАВНАЯ</a></li>
            <li><a href="~/Home/News">НОВОСТИ</a></li>
            <li><a href="~/Home/Table">ДОСТАВКА</a></li>
            <li><a href="~/Home/Contact">ОБРАТНАЯ СВЯЗЬ</a></li>
            <li class="active">О МАГАЗИНЕ</li>

        </ul>
    </nav>
</div>


<aside>
    <nav>
        <ul class="aside-menu">
            <li><a href="~/Book/Books">КНИГИ</a></li>
            <li><a href="~/Category/Categorys">КАТЕГОРИИ</a></li>

        </ul>
    </nav>
</aside>
<div class="center">
    <div id="heading">
        <h2>

           Мы – сеть книжных магазинов, успешно работающих в Москве и других регионах России.
            А ещё мы – крупный интернет-магазин книг. В нём вы можете заказывать книги в любое время 24 часа в сутки.
            В нашем интернет-магазине вы найдёте книги на любой вкус.
            Уверены, вам понравится наш книжный интернет-магазин. Добро пожаловать!

        </h2>
    </div>
</div>







<footer>
    <div id="footer">
        <div id="tw">
            <h3>16-09-2018</h3>
            <p>
                Книжный магазин
            </p>
        </div>
        <div id="sitemap">
            <h3>О НАС</h3>
            <div>
                <a href="Contact">Контакты</a>
                <a href="About">О нас</a>
            </div>
        </div>
    </div>
</footer>
