@{
    ViewBag.Title = "Contact";
}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>BookShop</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Helvetica:400,300" type="text/css" />

</head>
<p class="fig">
    <img src="~/img/hero1.jpg"
         width="1263" height="320" alt="Фотография">
</p>
<style>

    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>
<div class="center">
    <nav>
        <ul class="top-menu">
            <li><a href="~/Home/Index">ГЛАВНАЯ</a></li>
            <li><a href="~/Home/News">НОВОСТИ</a></li>
            <li><a href="~/Home/Table">ДОСТАВКА</a></li>
            <li class="active">ОБРАТНАЯ СВЯЗЬ</li>
            <li><a href="~/Home/About">О МАГАЗИНЕ</a></li>

        </ul>
    </nav>
</div>

<body>
    <div class="center">
        <div id="heading">
            <h1> ОБРАТНАЯ СВЯЗЬ</h1>
        </div>
    </div>
</body>

<aside>
    <nav>
        <ul class="aside-menu">
            <li><a href="~/Book/Books">КНИГИ</a></li>
            <li><a href="~/Category/Categorys">КАТЕГОРИИ</a></li>

        </ul>
    </nav>
</aside>


<section></section>

<div class="center">
    <h2>
        Адрес: г.Ульяновск, ул. Спасская, д.16.
    </h2>
    <h2>
        E-mail:
        <address>
            <a href="mailto:daria_uvarova.98@mail.ru">daria_uvarova.98@mail.ru</a><br />
        </address>
    </h2>
</div>


<p class="fig">
    <img src="~/img/friends.jpg"
         width="680" height="320" alt="Фотография">
</p>
<footer>
    <div id="footer">
        <div id="tw">
            <h3>16-09-2018</h3>
            <p>
                Книжный магазин
            </p>
        </div>
        <div id="sitemap">
            <h3>О НАС</h3>
            <div>
                <a href="Contact">Контакты</a>
                <a href="About">О нас</a>
            </div>
        </div>
    </div>
</footer>

