@model IEnumerable<WeBookShop.Models.Book>

<div id="searchresults">
    <h3>Все книги автора</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>