
@{
    ViewBag.Title = "Table";
}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>BookShop</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Helvetica:400,300" type="text/css" />

</head>
<p class="fig">
    <img src="~/img/hero1.jpg"
         width="1263" height="320" alt="Фотография">
</p>

<style>

    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>

<div class="center">
    <nav>
        <ul class="top-menu">
            <li><a href="~/Home/Index">ГЛАВНАЯ</a></li>
            <li><a href="~/Home/News">НОВОСТИ</a></li>

            <li class="active">ДОСТАВКА</li>
            <li><a href="~/Home/Contact">ОБРАТНАЯ СВЯЗЬ</a></li>
            <li><a href="~/Home/About">О МАГАЗИНЕ</a></li>
        </ul>
    </nav>
</div>


<aside>
    <nav>
        <ul class="aside-menu">
            <li><a href="~/Book/Books">КНИГИ</a></li>
            <li><a href="~/Category/Categorys">КАТЕГОРИИ</a></li>

        </ul>
    </nav>
</aside>




<section>
    <div class="center">
        <table border=4>
            <caption><h3>Службы доставки (цены указаны в рублях за одну книгу)</h3></caption>
            <tr>
                <td border=2>Почта России</td>
                <td border=2>100</td>
            </tr>
            <tr>
                <td border=2>Поста России (ускоренная)</td>
                <td border=2>200</td>
            </tr>
            <tr>
                <td border=2>Курьерская доставка СДЭК</td>
                <td border=2>300</td>
            </tr>
            <tr>
                <td border=2>Международная ккурьерская доставка</td>
                <td border=2><s>1000</s> 600</td>
            </tr>
        </table>
        <p>Не нашли подходящей транспортной компании? <a href="Feedback.html">Напишите нам!</a></p>
    </div><br>
</section>




<footer>
    <div id="footer">

        <div id="tw">
            <h3>16-09-2018</h3>
            <p>
                Книжный магазин
            </p>
        </div>
        <div id="sitemap">
            <h3>О НАС</h3>
            <div>
                <a href="Contact">Контакты</a>
                <a href="About">О нас</a>
            </div>
        </div>

    </div>
</footer>
